@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

/* This only changes this particular animation duration */
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1s;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 1s;
}

.animate__animated.animate__zoomOut {
  --animate-duration: 1s;
}

.animate__animated.animate__jackInTheBox {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

html,
body,
h1,
h2,
h3,
p,
div,
section,
nav,
aside,
header,
footer {
  margin: 0;
  padding: 0;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  opacity: 0.7;
}

body {
  color: #eee;
  background-color: #000;
  font-family: 'Noto Sans JP', sans-serif;
}

nav {
  font-size: 20pt;
  font-family: 'EB Garamond', serif;
  padding: 20px;
  display: none;
}

nav a {
  color: #eee;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
}

nav a:hover {
  animation: pulse infinite;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: .5s;
  /* don't forget to set a duration! */
  cursor: pointer;
}

main {
  padding: 0 30px 0 30px;
}

#main{
  display: none;
}

.card_a {
  max-width: 1000px;
  height: 500px;
  margin: 30px auto;
  cursor: pointer;
  display: block;
  opacity: 0.8;
}

.card_a:hover {
  opacity: 1;
}

.card_a:first-of-type {
  margin-top: 0;
}

.card_a:last-of-type {
  margin-bottom: 0;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.card_inner {
  color: transparent;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: table;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: .2s;
}

.card_inner:hover {
  color: #000;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
  transform: translate(-50%, -50%) scale(1.2);
}

.card_inner h1 {
  font-size: 20pt;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
  display: table-cell;
  vertical-align: middle;
}

.card_inner h1 span {
  padding: 20px;
}

.ci1 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_1.png');
  transition: .2s;
}

.ci1:hover {
  background-image: url('img/card_pic_1.png');
}

.ci2 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_2.png');
  transition: .2s;
}

.ci2:hover {
  background-image: url('img/card_pic_2.png');
}

.ci3 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_3.png');
  transition: .2s;
}

.ci3:hover {
  background-image: url('img/card_pic_3.png');
}

.ci4 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_4.png');
  transition: .2s;
}

.ci4:hover {
  background-image: url('img/card_pic_4.png');
}

.ci5 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_5.png');
  transition: .2s;
}

.ci5:hover {
  background-image: url('img/card_pic_5.png');
}

.ci5 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_5.png');
  transition: .2s;
}

.ci5:hover {
  background-image: url('img/card_pic_5.png');
}

.ci6 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_6.png');
  transition: .2s;
}

.ci6:hover {
  background-image: url('img/card_pic_6.png');
}

.ci7 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_7.png');
  transition: .2s;
}

.ci7:hover {
  background-image: url('img/card_pic_7.png');
}

.ci8 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_8.png');
  transition: .2s;
}

.ci8:hover {
  background-image: url('img/card_pic_8.png');
}

.ci9 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_9.png');
  transition: .2s;
}

.ci9:hover {
  background-image: url('img/card_pic_9.png');
}

.ci10 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_10.png');
  transition: .2s;
}

.ci10:hover {
  background-image: url('img/card_pic_10.png');
}

.ci11 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGDwBQAAUgBOuqZguwAAAABJRU5ErkJggg=='), url('img/card_pic_11.png');
  transition: .2s;
}

.ci11:hover {
  background-image: url('img/card_pic_11.png');
}

.modalwindow {
  color: #666;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2P8////MwYGhrOM////38zAwGAMAF0wCJbvmpnpAAAAAElFTkSuQmCC'), url('img/modal_bg.png');
  background-repeat: repeat.no-repeat;
  background-position: top left, center center;
  background-size: auto, cover;
  display: none;
  overflow-y: scroll;
  position: fixed;
  padding: 25px;
  z-index: 100;
  box-sizing: border-box;
}

.modalwindow .swiper-container {
  text-align: center;
}

.swiper-container2 {
  text-align: center;
}

.modalwindow .swiper-container .swiper-slide img {
  max-width: 100%;
  height: auto;
}

.swiper-container2 .swiper-slide img {
  max-width: 100%;
  height: auto;
}

.modalwindow h1 {
  font-size: 35pt;
  font-family: 'Alegreya', serif;
  font-weight: normal;
  line-height: 40pt;
  letter-spacing: -2px;
  text-align: left;
  padding: 20px 0 20px 0;
}

.modalwindow .frameouter {
  height: 100%;
}

.modalwindow .frameouter iframe {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}

.modalwindow::-webkit-scrollbar {
  width: 10px;
}

.modalwindow::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

.modalwindow::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}

.modalwindow .closedicon {
  width: 60px;
  height: 85px;
  background-color: transparent;
  background-image: url('img/closed.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 60px 60px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  right: 30px;
  top: 15px;
  transition: .5s;
  z-index: 99;
}

.modalwindow .closedicon:hover {
  opacity: .5;
}

.modalwindow .closedicon span {
  width: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.modalwindow a {
  color: #666;
}

.modalwindow a:hover {
  text-decoration: none;
}

.modalwindow a.button {
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #666;
  background-color: #666;
  transition: .5s;
}

.modalwindow a.button:hover {
  color: #666;
  background-color: #fff;
}

.modalwindow .lang {
  color: #fff;
  background-color: #002f5d;
  margin-right: 10px;
  font-size: 8pt;
  padding: 7px;
  border-radius: 5px;
}

.modalwindow .lang:last-of-type {
  margin-right: 0;
}

.modalwindow .info {
  font-size: 12.5pt;
  line-height: 30pt;
  letter-spacing: 1px;
}

.modalwindow .caution {
  font-size: 10pt;
  text-align: center;
}

#profile {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 15pt;
  padding: 50px;
  display: none;
}

#profile h1 {
  font-size: 30pt;
  font-weight: normal;
}

#profile h2 {
  font-size: 25pt;
  font-weight: normal;
}

#profile dt {
  width: 180px;
  float: left;
}

#profile dd {
  margin-left: 80px;
}

footer{
  color: #fff;
  font-size: 10pt;
  text-align: center;
  padding: 30px 10px 10px 10px;
  display: none;
}